{% extends 'base.html' %}
{% load static %}
{% block title %} {{ yazi.baslik }} {% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ yazi.resim.url }}" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ yazi.baslik }}</h5>
                    <p class="card-text">{{ yazi.icerik | safe }}</p>
                    <p class="card-text"><small class="text-muted">{{ yazi.duzenlenme_tarihi | timesince }} once
                        paylasildi.</small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h5>Yorumlar</h5>

    {% for yorum in yorumlar %}
        <div class="card">
            <div class="card-body" style="display: flex;flex-direction: row">
                <div>
                    {% if yorum.yazan.avatar %}
                        <img src="{{ yorum.yazan.avatar.url }}" class="rounded pt-4" width="55px" height="75px"
                             alt="avatar">
                    {% else %}
                        <img src="{% static 'img/avatar.png' %}" class="rounded pt-4" width="55px"
                             height="75px" alt="avatar">
                    {% endif %}
                </div>
                <div>
                    <h5 class="card-title">{{ yorum.yazan.username }}</h5>
                    <p class="card-text">
                        {{ yorum.yorum }}
                    </p>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Bu yazi icin hic yorum yapilmamis.</p>
    {% endfor %}

{% endblock %}

