{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} {{ yazi.baslik }} {% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ yazi.resim.url }}" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ yazi.baslik }}</h5>

                    <p class="card-text">{{ yazi.icerik | safe }}</p>
                    <p class="card-text">
                        <small class="text-muted">{{ yazi.duzenlenme_tarihi | timesince }} once
                            paylasildi.
                        </small>
                        {% if request.user == yazi.yazar %}
                            <p>
                                <a class="btn btn-warning" href="{% url 'yazi-guncelle' slug=yazi.slug %}">Duzenle</a>
                                <a class="btn btn-primary" href="{% url 'yazi-sil' slug=yazi.slug %}">Yazi Sil</a>
                            </p>
                        {% endif %}
                    </p>

                </div>
            </div>
        </div>
    </div>

    <h5>Yorumlar</h5>

    {% if request.user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ yorum_ekle_form | crispy }}
            <input type="submit" value="Yorum Yap" class="btn btn-danger mt-2"/>
        </form>
    {% else %}
        <p>Yorum Yapmak icin Lutfen UYE GIRISI yapiniz.</p>
    {% endif %}

{% include 'components/mesagge.html' %}

{#    birseyler#}

    {% for yorum in yorumlar %}
        <div class="card">
            <div class="card-body" style="display: flex;flex-direction: row">
                <div>
                    {% if yorum.yazan.avatar %}
                        <img src="{{ yorum.yazan.avatar.url }}" class="rounded pt-4" width="55px" height="75px"
                             alt="avatar">
                    {% else %}
                        <img src="{% static 'img/avatar.png' %}" class="rounded pt-4" width="55px"
                             height="75px" alt="avatar">
                    {% endif %}
                </div>
                <div>
                    <h5 class="card-title">{{ yorum.yazan.username }}</h5>
                    <p class="card-text">
                        {{ yorum.yorum }}
                    </p>
                    <p>
                        {% if request.user == yorum.yazan or request.user == yazi.yazar %}
                            <a class="btn btn-info" href="{% url 'yorum-sil' id=yorum.id %}">Yorum Sil</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Bu yazi icin hic yorum yapilmamis.</p>
    {% endfor %}

{% endblock %}

