<div class="col-sm-3">

    <div class="card mb-3">
        <div class="card-header">
            Menu
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{% url 'profil-guncelle' %}">Profil Guncelle</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'sifre-degistir' %}">Sifre Degistir</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'yazi-ekle' %}">Yazi Ekle</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'yazilarim' %}">Yazilarim</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'cikis' %}">Cikis Yap</a>
            </li>
        </ul>


    </div>

</div>
